.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 1400px;
  /* margin: 0 auto; */
}
